---
import Layout from '../layouts/Layout.astro';
import Home from '../sections/Home.astro';
import About from "../sections/About.astro";
import Team from '../sections/Team.astro';
import Faq from '../sections/Faq.astro';
---

<Layout>
  <main>
    <Home />
    <About />
    <Team />
    <Faq />
  </main>
</Layout>