---
import { faqItems } from '../data/faq';
---

<section id="faqSection" class="w-full my-20 scroll-mt-16 sm:scroll-mt-24 gradient-background">
    <div class="faq-section  max-w-4xl mx-auto mt-12 bg-gray-700 p-5 w-[90%] lg:rounded-lg shadow-lg thebox">
        <h1 id="faq" class="text-center font-semibold mb-5 relative">Frequently Asked Questions</h1>
    
        {faqItems.map((item) => (
            <div class="faq-item mb-4 overflow-hidden ">
                <div class="question p-4 px-6  text-white cursor-pointer rounded-md transition-transform transform  hover:scale-107 relative border-2 border-transparent">
                    {item.question}
                    <div class="before:absolute before:inset-0 before:rounded-md before:border-2 before:border-white before:scale-x-0 before:origin-left before:transition-transform before:duration-500 before:z-[-1]"></div>
                </div>
                <div class="answer p-4 bg-gray-700 hidden rounded-md mt-2 animate-slideDown">
                    {item.answer}
                </div>
            </div>
          ))}
    </div>    
</section>

<script>
    document.querySelectorAll('.question').forEach((item) => {
  item.addEventListener('click', () => {
    const answer = item.nextElementSibling as HTMLElement; 
    const isActive = item.classList.contains('question-active');
    
    document.querySelectorAll('.answer').forEach((ans) => {
      (ans as HTMLElement).style.animation = ''; 
      ans.classList.add('hidden');
      ans.classList.remove('block');
    });

    document.querySelectorAll('.question').forEach((q) => {
      q.classList.remove('question-active');
    });
    
    if (!isActive) {
      item.classList.add('question-active');
      answer.classList.remove('hidden');
      answer.classList.add('block');

      
      answer.style.animation = 'slideDown 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards';
    }
  });
});
</script>

<style>
    .gradient-background {
        background: linear-gradient(300deg, #142850, #27496D, #0C7B93, #00A8CC);
        background-size: 120% 100%;
        animation: gradient-animation 8s ease infinite;

    }
    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes slideDown {
        0% {
            opacity: 0;
            max-height: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            max-height: 500px;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        0% {
            opacity: 1;
            max-height: 500px;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            max-height: 0;
            transform: translateY(-20px);
        }
    }

    .animate-slideDown {
    animation: slideDown 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    }

    .animate-slideUp {
    animation: slideUp 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    }

    .question-active {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    transition: background-color 0.3s, transform 0.3s;
    }

    .question {
    background-color: rgba(0, 0, 0, 0.345);
    transition: background-color 0.3s;
    }

    .question:hover {
    background-color: rgba(7, 66, 79, 0.29);
    }

    .question-active {
    background-color: #00000052;
    transform: scale(1.02);
    transition: background-color 0.3s, transform 0.3s;
    }

    .question-reset {
    @apply bg-black;
    transform: scale(1);
    transition: background-color 0.3s, transform 0.3s;
    }

    #faqSection{
        padding-top: 5px;
        padding-bottom: 50px;
    }
    .faq-section {
        border-radius: 15px;
    }
    .thebox{
        background-color: rgba(255, 255, 255, 0.181)
    }
    .question:hover{
        background-color: #07424f4a;

    }
    .question{
        background-color: rgba(0, 0, 0, 0.345);
    }
    .answer{
        background-color: rgba(0, 0, 0, 0.345);
    }
</style>
    

