<section id="about" class="h-screen py-10 scroll-mt-16 sm:scroll-mt-24">
    <div class="aboutACM flex flex-col items-center w-full">
        <span class="text-acm-blue text-4xl md:text-5xl font-bold underline underline-offset-8 mb-10 sm:mb-16">About</span>
        <div class="infoPanel flex flex-col sm:grid sm:grid-cols-2 justify-center items-center w-full gap-8">
            <div class="flex justify-center items-center sm:scale-75 lg:scale-100">
                <img class="scale-75 sm:scale-125" src="/acm_logo_white.jpeg" alt="ACM Logo">
            </div>
            <div class="infoText flex flex-col justify-center items-center p-5 lg:w-[90%]">
                <span class="text-2xl sm:text-3xl lg:text-4xl font-bold mb-4 sm:mb-5">Association for Computing Machinery</span>
                <p class="text-base sm:text-lg lg:text-xl leading-relaxed sm:w-[90%] lg:w-full">The Association for Computing Machinery (ACM) at BITS Pilani, Hyderabad Campus, is a hub for tech enthusiasts, fostering innovation through seminars, discussions, and awareness of opportunities like Google Summer of Code (GSoC). By forming teams for hackathons, ACM cultivates technical excellence, leadership, and collaborative skills, driving technological advancements.</p>
            </div>
        </div>
    </div>
</section>
