<section id="about" class="h-fit py-10 scroll-mt-16 sm:scroll-mt-24 gradient-background">
    <div class="aboutACM flex flex-col items-center w-full">
        <span class="about_acm text-acm-blue text-4xl md:text-5xl font-bold underline underline-offset-8 mb-10 sm:mb-16">About</span>
        <div class="infoPanel flex flex-col sm:grid sm:grid-cols-2 justify-center items-center w-full gap-8">
            <div class="flex justify-center items-center sm:scale-75 lg:scale-80">
                <img class="scale-80 sm:scale-125" src="/acm_glassier.png" alt="ACM Logo">
            </div>
            <div class="infoText flex flex-col justify-center items-center p-5 lg:w-[90%]">
                <span class="text-2xl sm:text-3xl lg:text-4xl font-bold mb-4 sm:mb-5">Association for Computing Machinery</span>
                <p class="text-base sm:text-lg lg:text-xl text-justify leading-relaxed sm:w-[90%] lg:w-full">Welcome to the pulse of innovation at BITS Pilani Hyderabad! The Association for Computing Machinery (ACM) is not just a society—it’s where ideas come to life, where coding meets creativity, and where future tech leaders are born. As the world’s largest computing organization, ACM connects you to a global network of experts, cutting-edge resources, and a community that’s as passionate about technology as you are. Whether you’re a coding newbie or a seasoned techie, our chapter is your launchpad to explore, experiment, and excel in the ever-evolving world of computing. Ready to make your mark? Join us, and let’s shape the future together!</p>
            </div>
        </div>
    </div>
</section>
<style>
.gradient-background {
    background: linear-gradient(300deg, #142850, #27496D, #0C7B93, #00A8CC);
    background-size: 120% 100%;
    animation: gradient-animation 8s ease infinite;

}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.infoText{
    background-color: #57d4c71d;
    border-radius: 15px;
    backdrop-filter:blur(0px);
    -webkit-backdrop-filter:blur(0px);
    padding:25px;


}
.about_acm{
        color: rgb(255,255,255);

}
</style>
