<section id="about" class="h-fit py-10 scroll-mt-16 sm:scroll-mt-24">
    <div class="aboutACM flex flex-col items-center w-full">
        <span class="text-acm-blue text-4xl md:text-5xl font-bold underline underline-offset-8 mb-10 sm:mb-16">About</span>
        <div class="infoPanel flex flex-col sm:grid sm:grid-cols-2 justify-center items-center w-full gap-8">
            <div class="flex justify-center items-center sm:scale-75 lg:scale-100">
                <img class="scale-75 sm:scale-125" src="/acm_logo_white.jpeg" alt="ACM Logo">
            </div>
            <div class="infoText flex flex-col justify-center items-center p-5 lg:w-[90%]">
                <span class="text-2xl sm:text-3xl lg:text-4xl font-bold mb-4 sm:mb-5">Association for Computing Machinery</span>
                <p class="text-base sm:text-lg lg:text-xl text-justify leading-relaxed sm:w-[90%] lg:w-full">Welcome to the pulse of innovation at BITS Pilani Hyderabad! The Association for Computing Machinery (ACM) is not just a society—it’s where ideas come to life, where coding meets creativity, and where future tech leaders are born. As the world’s largest computing organization, ACM connects you to a global network of experts, cutting-edge resources, and a community that’s as passionate about technology as you are. Whether you’re a coding newbie or a seasoned techie, our chapter is your launchpad to explore, experiment, and excel in the ever-evolving world of computing. Ready to make your mark? Join us, and let’s shape the future together!</p>
            </div>
        </div>
    </div>
</section>
