<section id="home" class="h-screen text-sm md:text-3xl lg:text-5xl 2xl:text-6xl scroll-mt-16 sm:scroll-mt-24 overflow-clip">
    <div class="landingSection relative h-full sm:h-auto">
        <!-- For tablet screens and higher -->
        <div class="absolute z-10 hidden sm:flex items-center justify-center w-full h-full bg-white bg-opacity-30">
            <div class="flex flex-col justify-center h-[90%] w-[80%]">
                <div class="flex flex-col justify-center font-bold text-center sm:text-left">
                    <span class="mb-4 md:mb-8">Association for Computing</span>
                    <span class="mb-4 md:mb-8">Machinery</span>
                    <span class="text-acm-blue">BPHC</span>
                </div>
                
                <div class="socials text-2xl lg:text-4xl mt-3 lg:mt-8 flex justify-center sm:justify-start">
                    <a rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/company/acm-bphc-chapter/posts/?feedView=all" class="social-icon mr-4"><i class="bx bxl-linkedin hover:text-blue-700"></i></a>
                    <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/profile.php?id=100054318588641" class="social-icon mr-4"><i class="bx bxl-facebook hover:text-blue-700"></i></a>
                    <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/AcmBphc" class="social-icon"><i class='bx bxl-twitter hover:text-blue-700' ></i></a>
                </div>
            </div>
        </div>
        <!-- For mobile screens -->
        <div class="flex absolute z-10 sm:hidden justify-center items-star pt-10 w-full h-full">
            <div class="flex flex-col items-start h-[60%] w-full p-5 text-white font-bold text-4xl md:text-5xl">
                <span class="mb-12 md:mb-20">Association</span>
                <span class="mb-12 md:mb-20">for Computing</span>
                <span class="mb-12 md:mb-20">Machinery</span>
                <span class="text-blue-500">BPHC</span>
                
                <div class="socials mt-10 md:mt-16">
                    <a rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/company/acm-bphc-chapter/posts/?feedView=all" class="social-icon text-3xl md:text-4xl mr-4"><i class="bx bxl-linkedin"></i></a>
                    <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/profile.php?id=100054318588641" class="social-icon text-3xl md:text-4xl mr-4"><i class="bx bxl-facebook"></i></a>
                    <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/AcmBphc" class="social-icon text-3xl md:text-4xl"><i class='bx bxl-twitter' ></i></a>
                </div>

                <div class="flex flex-col w-full justify-center items-center mt-12">
                    <span class="text-lg md:text-xl lg:text-3xl">Scroll to know more about us</span>
                    <i class='bx bx-down-arrow-alt text-3xl md:text-4xl lg:text-7xl mt-3 lg:mt-10'></i>
                </div>

            </div>
        </div>
        <img class="sm:hidden w-full object-cover" src="/mobilebg.jpg" alt="Background Image">
        <img class="hidden sm:flex w-full object-cover" src="/image.jpeg" alt="Background Image">
    </div>
    <div class="hidden sm:flex flex-col items-center mt-10">
        <span class="text-lg md:text-xl lg:text-3xl">Scroll to know more about us</span>
        <i class='bx bx-down-arrow-alt text-3xl md:text-4xl lg:text-7xl mt-6'></i>
    </div>
</section>
