<footer class="bg-black text-gray-300 w-full py-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full">
        <!-- Logo and ACM Info -->
        <div class="flex flex-col items-center justify-center text-center">
            <img src="/acm_logo_black.jpeg" class="h-20 lg:h-32 mb-6">
            <span class="font-bold text-lg lg:text-xl">Association for Computing Machinery</span>
            <span class="text-sm lg:text-base">BITS Pilani, Hyderabad Campus</span>
        </div>

        <!-- Map (only visible on medium screens and above) -->
        <div class="hidden sm:flex sm:col-span-2 lg:col-span-2 flex-col items-center justify-center">
            <span class="font-bold text-xl mb-4">BITS Pilani, Hyderabad Campus</span>
            <iframe class="w-[90%] h-60 md:h-48 lg:h-60" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.2162331689487!2d78.56926307475216!3d17.54488878336944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb83594a86132d%3A0xc3e06e9e76cebf3d!2sBirla%20Institute%20of%20Technology%20%26%20Science%20Pilani%2C%20Hyderabad%20Campus!5e0!3m2!1sen!2sin!4v1723392141625!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <!-- Contact Us -->
        <div class="flex flex-col items-center justify-center">
            <span class="font-bold text-xl mb-4">Contact Us</span>
            <div class="socials mt-4 flex justify-center">
                <a rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/company/acm-bphc-chapter/posts/?feedView=all" class="social-icon text-3xl lg:text-4xl mr-4"><i class="bx bxl-linkedin hover:text-blue-700"></i></a>
                <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/profile.php?id=100054318588641" class="social-icon text-3xl lg:text-4xl mr-4"><i class="bx bxl-facebook hover:text-blue-700"></i></a>
                <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/AcmBphc" class="social-icon text-3xl lg:text-4xl"><i class='bx bxl-twitter hover:text-blue-700'></i></a>
            </div>
            <span class="email mt-4 text-sm md:text-lg text-center">Email : <a rel="noopener noreferrer" target="_blank" class="hover:underline" href="mailto:acm.bphc@hyderabad.bits-pilani.ac.in">acm.bphc@hyderabad.bits-pilani.ac.in</a></span>
        </div>
    </div>
</footer>
