<header class="header flex sticky justify-center w-full h-20 sm:h-24 top-0 z-20 text-white">
    <div class="headerContent flex relative items-center justify-between h-full w-[90%] md:w-[80%] font-semibold">
        <!-- Logo -->
        <a href="/" class="acm">
            <span><img class="h-12 sm:h-14" src="/acm_logo_black.jpeg" alt="ACM Logo"></span>
        </a>
        
        <!-- Mobile Menu Icon -->
        <div class="sm:hidden flex items-center">
            <button id="mobile-menu-button" class="focus:outline-none">
                <i class="text-3xl bx bx-menu"></i>
            </button>
        </div>
        
        <!-- Navigation Links (visible on small screens and above) -->
        <nav class="navbar hidden sm:flex absolute right-10 top-0 h-full justify-center items-center text-sm lg:text-2xl">
            <div class="flex navList">
                <span class="navItem relative ml-5 lg:ml-10"><a href="/#home">Home</a></span>
                <span class="navItem relative ml-5 lg:ml-10"><a href="/#about">About</a></span>
                <span class="navItem relative ml-5 lg:ml-10"><a href="/events">Events</a></span>
                <span class="navItem relative ml-5 lg:ml-10"><a href="/#team">Team</a></span>
                <span class="navItem relative ml-5 lg:ml-10"><a href="/team">Office</a></span>
                <span class="navItem relative ml-5 lg:ml-10"><a href="/blogs">Blogs</a></span>
                <span class="navItem relative ml-5 lg:ml-10"><a href="/#faqSection">FAQs</a></span>
                <span class="navItem relative ml-5 lg:ml-10"><a href="/#footerSection">Connect</a></span>

            </div>
        </nav>
    </div>
    
    <!-- Mobile Menu (hidden by default) -->
    <div id="mobile-menu" class="sm:hidden hidden w-60 h-fit text-white flex flex-col items-center">
        <a href="/#home" class="py-2">Home</a>
        <a href="/#about" class="py-2">About</a>
        <a href="/events" class="py-2">Events</a>
        <a href="/#team" class="py-2">Team</a>
        <a href="/team" class="py-2">Office</a>
        <a href="/blogs" class="py-2">Blogs</a>
        <a href="/#faqSection" class="py-2" >FAQs</a>
        <a href="/#footerSection" class="py-2" >Connect</a>

    </div>
</header>

<style>
    .navItem:after {
        @apply bg-acm-blue;
        content: ''; 
        position: absolute;
        width: 100%; 
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .header{
        background-color: #031f2140;
        backdrop-filter:blur(10px);
        -webkit-backdrop-filter:blur(10px);
    }

    .navItem:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    #mobile-menu-button.active + #mobile-menu {
        display: flex;
    }

    #mobile-menu {
        background-color: #031F38;
        position: fixed;
        top: 6rem;
        width: 8rem;
        right: 1rem;
        border-radius: 10px;
    }
</style>

<script>
    document.getElementById('mobile-menu-button')!.addEventListener('click', function() {
        this.classList.toggle('active');
        document.getElementById('mobile-menu')!.classList.toggle('hidden');
    });
    document.querySelectorAll('.py-2').forEach((element) => {
        element.addEventListener('click', function () {
            this.classList.toggle('active');
            document.getElementById('mobile-menu')!.classList.toggle('hidden');
        });
    });
</script>
