---
const { teamHeadInfo } = Astro.props;
const designations = teamHeadInfo.designation.split(',');
---

  <div class="shadow-lg overflow-hidden rounded-lg w-64 mx-auto card" style="background: linear-gradient(300deg, #27496D, #0C7B93, #00A8CC); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);">
  <div class="flex justify-center py-6 px-4">
    <img 
      src={teamHeadInfo.image} 
      alt={teamHeadInfo.name} 
      class="w-42 h-42 rounded-full object-cover border-2 border-grey shadow-sm" 
    />
  </div>
  <div class="text-center px-4 pb-6">
    <h3 class="text-white font-bold text-lg mb-2">{teamHeadInfo.name}</h3>
    <div class="text-white text-sm space-y-1">
      {designations.map(designation => (
        <p class="uppercase text-gray-900">{designation.trim()}</p>
      ))}
    </div>
  </div>
</div>

<style>
  .card:hover {
    transform: scale(1.025);
    transition: all 0.25s;
  }
  @media (min-width: 768px) {
    .card-container > * {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  @media (max-width: 768px) {
    .card {
      transform: scale(1.1);
    }
  }

</style>