---
import Layout from '../layouts/Layout.astro';
---

<!-- FUTURE USE NOT LIVE RIGHT NOW -->
 
<Layout>
	<main>
		<h1>Contact Us</h1>
		<p>Feel free to reach out through this page.</p>
	</main>
</Layout>
